/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
html{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;

}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-title-act {
    font-size: 16px;
    margin-left: 15px;
}

.card-title-heb {
font-size: 16px;
margin: 5px;
}

.card-subtitle-heb {
    font-size: 14px;
    margin-top: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**********Texte********/

.card-txt {
gap: 8px;
}

h1 {
font-size: 22px;
}

/*****haut de page******/

.haut-de-page {
    margin-left: 30px;
    max-width: 1440px;
    width: 100%;
}




/******menu principal******/

.cardmenu {
display: flex;
height: 35px;
top: 0;
position: fixed;
width: 85%;
justify-content: end;
max-width: 1240px;
}

.menu-heb {
    border-top: 2px solid #F2F2F2;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-right: 55px;
    padding-top: 10px;
   
}
/***effet***/
.menu-heb:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-heb:active {
    border-top: 2px solid #0065FC;
    color: #0065FC;

}
.menu-heb:focus {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-act {
    border-top: 2px solid #F2F2F2;
    padding-top: 10px;
    
}

.menu-act:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-act:active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-act:focus {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}


/****logo haut de page****/

.logobooki img{
    width: 61.09px;
    height: 19px;
}


/******toute recherche******/
.touterecherche {
    margin-left: 30px;
}
/******barre de cherche*******/
.text {
    size: 18px;
}
.search-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

#searchInput {
    text-align: center;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: bold;
}

#searchButton {
    padding: 15px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

}
#searchButton img{
height: 0px;
width: 0px;
}
#searchButton:hover {
    background-color: #0065FC;
}
/******Filtres*******/
.titre-filtres {
    margin-top: 6px;
    
}

.filtres {
    display: flex;
}
body {
    margin: 30px;
    padding: 0;
}

.button-container {

    text-align: center; 
}

.styled-button {
    display: inline-block;
    padding: 10px 16px;
    margin: 10px;
    border: 2px solid #d9d9d9;
    border-radius:25px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

.styled-button:hover {
    background-color: #DEEBFF;
}

.styled-button:focus {
    background-color: #DEEBFF;
}

/***logo et texte info***/

.logoinfo {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: row;
}

.texte-info {
  margin-top: 7px;
}
/****** hebergements-et-populaires ***********/

.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements-et-populaires {
    width:97%; 
    height: 35%; 
    justify-content: space-around;
    display: flex;
}

.hebergements-et-populaires .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
  
}

.hebergements-et-populaires .populaires{

        background-color: var(--main-bg-color);
        border-radius: 15px;
        padding: 30px;
        box-sizing: border-box;
        width: 32%;
        height: 100%;

}





/****** Hebergements ***********/
.hebergements {
width: 100%;
}

.hebergements-cards{

    height: 80%;
    width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
}

.card-heb {
    margin: 7%;
background-color: #fff;
border-radius: 20px;
padding: 5px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-heb img {
height: 124px;
width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;

}

.populaires-cards img {
    width: 33%;
    height: 138px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*******Activités*********/

.section-title-act {
margin-left: 5%;
}

.card-acti {
    width: 23%;
    height: 100%;
    background-color: #fff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    margin: 30px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

   
}
.card-activites .card {
width: 25%;
height: 20%;
border-radius: 20px;
}



.activites-cards {
display: flex;
flex-direction: row;
justify-content: space-around;

}

.Activites {
padding-top: 30px;
width: 98%;
height: 30%;
}

.afficherplus {
    margin-top: 30px;
}
/******footer********/

.footer .apropos {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
}

.footer .noshebergements {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
}

.footer .assistance {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   width: 90%;
   height: 163px;
   margin-left: 3%;
   margin-right: 3%;

}



/******texte*********/

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content-heb {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/****filtres****/

    .filtres {
        display: block;
    }

    .button-container {
        text-align: start; 
    }

    .styled-button {
        display: inline-block;
        padding: 10px 16px;
        margin: 5px;
    }

/****info****/

    .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/****card****/

    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements-et-populaires .hebergements {
        background-color: var(--main-bg-color);
        border-radius: 15px;
        padding: 30px 30px 0px 30px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      
    }
    
    .hebergements-et-populaires .populaires{
    
            background-color: var(--main-bg-color);
            border-radius: 15px;
            padding: 30px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
    }

/****hebergements****/

   

    .hebergements {
        width: 100%;
    }

    .card-heb {
        height: 220px;
    }

/****populaire****/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/****activités****/

    .card-acti {   
        height: 290px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        width: 190px;
    }
    .activites-cards img {
        width: 100%;
        height: 193.5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover; 
    }

/****footer****/

    .footer {
    height: 180px;  
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

/****general****/

    .main-container {
        padding: 0px;
    }

/***logo booki***/

    .card-logo {
    width: 100%;
    }
    .card-logo img {
    display: flex;
    margin-left: 45%;
    }
/****menu*****/

    .cardmenu {
    display: flex;
    height: 35px;
    margin-top: 20px;
    position: static;
    width: 90%;
    align-items: start;
    margin-bottom: 20px;
    }
    
    .menu-heb {
        border-bottom: 2px solid #F2F2F2;
        display: inline-block;
        display: flex;
        justify-content: center;
        width: 45%;
        padding-bottom: 10px;
        margin-right: 0px;
        border-top: 0px;
    }

/***effet***/

    .menu-heb:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }
    
    .menu-heb:active {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }
    .menu-heb:focus {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }
    
    .menu-act {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
        border-top: 0px;
        width: 45%;
        display: flex;
        justify-content: center;
    }
    
    .menu-act:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }
    
    .menu-act:active {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }
    
    .menu-act:focus {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }

/*barre de recherche*/

    .haut-de-page {
        margin-left: 0px;

    }
    
    #searchButton {
        font-size: 0px;
    }

    #searchButton img{
        height: auto;
        width: auto;
        }

        .touterecherche {
            margin-left: 0px;
        }  

/****titre*****/

    h1 {
    font-size: 24px;
    }

/****filtres****/

    .styled-button {
    width: 162.5px;
    font-size: 16px;
    }
/****info****/

    .info {
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .texte-info {
    margin-top: 0px;
    }

/*****bascule de l'hebergement au populaire******/

    .hebergements-et-populaires{
    display: flex;
    flex-direction: column-reverse;
    }

/******populaire*****/

    .populaires {
    margin-top: 0px;
    }

    .hebergements-et-populaires .populaires{
    border-radius: 0px;
    }

    .populaires-cards {
    display: flex;
    flex-direction: column;
    }

    .populaires-cards a {
    width: 100%;
    }

/******hebergements******/

    .card-heb {
    margin: 0px;
    width: 100%;
    }

    .card-heb {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    }

    .hebergements-cards{
    display: flex;
    flex-direction: column;
    }

    .hebergements-et-populaires .hebergements {
    background-color:#fff;
    }
    .afficherplus {
    margin-top: 0px;
    }

/******activités*****/

    .card-acti {   
    height: 200px;
    width: 90%;
    margin-top: 0px;
    }

    .activites-cards img {
    width: 100%;
    height: 141px;
    }

    .activites-cards {
    display: flex;
    flex-direction: column;    
    }

/******footer********/

    .footer .apropos {
    padding-top: 15px;
    width: 100%;
    }

    .footer .noshebergements {
    padding-top: 15px;
    width: 100%;
    }

    .footer .assistance {
    padding-top: 15px;
    width: 100%;
    }

    .footer {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
   width: 100%;
   background-color: var(--main-bg-color);
   margin-left: 0px;
    }
}