/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-heb {
    width: 250.33px;
    height: 207.25px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 5px;
    padding-bottom: 30px;
   

}

.card-acti {
    width: 297.5px;
    height: 439px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    margin: 30px;
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-title-act {
    font-size: 16px;
    margin-left: 15px;
}

.card-title-heb {
font-size: 16px;
margin: 5px;
}

.card-subtitle-heb {
    font-size: 14px;
    margin-top: 5px;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**********Texte********/
.card-txt {
gap: 8px;

}
/*****haut de page******/
.haut-de-page {
    display: flex;
    flex-direction: row;

    height: 79px;

}

.haut-de-page .logogauche {
    display: flex;
    justify-content: space-around;
flex-wrap: wrap;
align-items: flex-start;
}

.haut-de-page .logomenu {
    display: flex;
    justify-content: space-around;
flex-wrap: wrap;
align-items: flex-end;
}


/****logo****/
.logobooki img{
    width: 61.09px;
    height: 19px;
    gap: 10px;
    display: flex;
}

.card-logo {

    box-sizing: border-box;
    width: 161.09px;
    height: 79px;
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}


.menu img{
height: 35px;
width: 244px;
}

/******Filtres*******/
.filtres {
    display: flex;
    flex-direction: row;
}

.filtres .filtres-logo {
    display: flex;
    flex-direction: row;
}
/****** hebergements-et-populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires {
width: 1340px;
height: 614px;
}

.hebergements-et-populaires .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    width: 871px;
    height: 614px;
}

.hebergements-et-populaires .populaires{

        background-color: var(--main-bg-color);
        border-radius: 15px;
        padding: 30px;
        box-sizing: border-box;
        width: 429px;
        height: 614px;

}
/******footer********/
.footer .apropos {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 446.67px;
    height: 163px;
}

.footer .noshebergements {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 446.67px;
    height: 163px;
}

.footer .assistance {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    box-sizing: border-box;
    width: 446.67px;
    height: 163px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*******Activités*********/
.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.card-activites .card {
width: 297.5px;
height: 439px;
border-radius: 20px;
}
.hebergements-cards {
    display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
align-items: flex-start;

}


.activites-cards {
display: flex;
flex-direction: row;
justify-content: space-around;

}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content-heb {
    width: 268px;
    height: 64.25px;
    gap: 4px;
    padding: 15px;
}


.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.Activites {
padding-top: 30px;
width: 1340px;
height: 559.02px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}